<ion-view view-title="Idée Prénom">
	<ion-content>
		<div class="row">
			<div class="col col-center">
								
				<div class="row">
		  			<h1 class="background_{{randomPrenom.genre}} col col-offset-10 col-80 the_name"> {{randomPrenom.prenom}}			  			
  		     	</div>
		
				<div class="row">
		  			<p class="col col-offset-10 col-80 infos_name"> <b>Origine:</b> {{randomPrenom.origine}}, <b>Frequence:</b> {{randomPrenom.frequence}} </p>
		     	</div>
		     	
   				<div class="button-bar">
		  			<button ng-click="addToFavoris();" class="button button-medium button-energized ion-android-add col col-50"> 
		  				Favoris <i class="ion-heart"></i>
		  			</button>
					<button ng-click="again();" class="button button-medium button-balanced col col-50">
						Suivant <i class="ion-play"></i>
					</button>
		     	</div>
		     	
		   		<div class="list">
		   			<div class="row">
		     			<div class="col col-100">
		        		    <div class="item item-divider to_bold label_input"> 1ère Lettre </div>
						    <label class="item item-input">
								<input name="lettre" type="text" maxlength="1" ng-model="lettre.text">
							</label>
						</div>
					</div>
					
 		   			<div class="row">
			     		<div class="col col-33">
		        		    <div class="item item-divider to_bold label_input">
		        		    	Origine
		        		    </div>
						    <select id="select_origins" name="origins" ng-model="dataOrigins.origins">
						  		<option value="1"> Toutes </option>
						  		<option ng-repeat="item in origins" value="{{item.origine}}"> {{item.origine}} </option>
							</select>
						</div>
						
			     		<div class="col col-33">
		        		    <div class="item item-divider to_bold label_input">
		        		    	Genre
		        		    </div>
						    <select id="select_genres" name="genres" ng-model="dataGenres.genres">
						  		<option value="1"> Tous </option>
						  		<option ng-repeat="item in genres" value="{{item.value}}"> {{item.genre}} </option>
							</select>
						</div>

						<div class="col col-33">
		        		    <div class="item item-divider to_bold label_input">
		        		    	Frequence
		        		    </div>
						    <select id="select_frequences" name="genres" ng-model="dataFrequences.frequences">
						  		<option value="1"> Toutes </option>
						  		<option ng-repeat="item in frequences" value="{{item.value}}"> {{item.frequence}} </option>
							</select>
						</div>
					</div>
			    </div>

	     	</div>
     	</div>
  	</ion-content>
</ion-view>
