<ion-view view-title="Favoris">
	<ion-content>
		<div ng-show="noFavoris">
	  		<div class="row row-center">
	  			<div class="col col-offset-10 col-80">
		  			<p class="to_center to_bold">
		  				Retourner à l'accueil pour ajouter des prénoms favoris !
	  				</p>
		  		</div>
			</div>
	  		<div class="row row-bottom">
	  			<a href="#/app/accueil" class="icon-left ion-home col col-offset-25 col-50 button button-positive">
	  				Accueil
	  			</a>
			</div>
	    </div>
	    
	    <div ng-hide="noFavoris">
			<div class="list">
		   		<div class="row">
		   			<div class="col col-100">
		        		<div class="item item-divider to_bold">
		        			Favoris
	        			</div>
					    <ion-list>
					    <ion-item ng-repeat="item in listFavoris" ng-click="deleteOne(item);" class="item background_{{item.sexe}}">
					    		<p class="to_bold prenom_favoris"> {{item.prenom}} </p>
				       			<p> {{item.origine}}, {{item.frequence}} </p>
			       		</ion-list>
			        </div>
		        </div>
		   	</div>
	    </div>
  	</ion-content>
</ion-view>