<ion-view view-title="Liste">
	<ion-content class="padding">
  		<ion-list>
   			<ion-item ng-repeat="item in listePrenoms" item="item" ng-click="addToFavoris(item);" class="item background_{{item.genre}}">
	    		<p class="to_bold prenom_liste"> {{item.prenom}} </p>
   				<p> {{item.origine}}, {{item.frequence}} </p>
   		  	</ion-item>
		</ion-list>
		<ion-infinite-scroll ng-if="!noMoreItemsAvailable" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>
  	</ion-content>
</ion-view>