#select_origins {
	width: 100%;	
}
.the_name {
	font-family: NunitoBold;
	text-align: center;
	border-radius: 25px;
}

.to_center, .infos_name {
	text-align: center;
}

.to_bold {
	font-weight: bold;
}

.background_m {
	background-color: #89cff0;
}

.background_f {
	background-color: #f4c2c2;
}

.prenom_favoris {
	font-size: larger!important;
	color: white!important;
}

.label_input {
	background-color: darkcyan;
	color: white;
}