#select_origins, #select_genres, #select_frequences {
	width: 100%;
}
.prec {
	margin-top: 2%;
	vertical-align: medium;
	height: 50%;
}
.the_name {
	font-family: NunitoBold;
	text-align: center;
	border-radius: 25px;
}

.to_center, .infos_name {
	text-align: center;
}

.to_bold {
	font-weight: bold;
}

.background_Garçon {
	background-color: #89cff0;
}

.background_Fille {
	background-color: #f4c2c2;
}

.prenom_favoris, .prenom_liste {
	font-size: larger!important;
	color: darksilver!important;
}

.label_input {
	background-color: cadetblue;
	color: white;
}